body {
  background-color: lightslategray;
}

.container {
  width: 15%;
  margin: 0 auto;
  padding: 30px 80px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container img {
  width: 80px;
  height: 80px;
}

.container label {
  display: block;
  margin: 10px 0px;
}

.container label::after {
  content: " *";
  color: red;
}

.container input {
  /* width: 90%; */
  padding: 7px 5px;
  border-radius: 3px;
}

.container #link {
  display: block;
}

.container button {
  /* width: 100%; */
  padding: 7px 70px;
  margin-top: 40px;
  border-radius: 5px;
}

.container hr {
  width: 30%;
  margin-top: 30px;
  margin-bottom: 0px;
}

.container p {
  display: inline;
  font-size: small;
  white-space: nowrap;
}

a,
a:visited {
  text-decoration: none;
  color: magenta;
}

a:hover {
  color: darkmagenta;
  text-decoration: underline;
}
